//- Custom Configuration
block config
    //- Setup site's base URL to match the "baseUrl" key within `package.json`
    //- Otherwise default to relative pathing
    - var baseUrl = config.baseUrl || './'
    - var pageClass = config.pageClass || 'default'

doctype html

<!--[if lt IE 9]>
<html class='lt-ie9 no-js' lang='en'>
<![endif]-->
<!--[if gte IE 9]><!-->
<html class='no-js' lang='en'>
<!--<![endif]-->

head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title new
    meta(name='description', content= 'A new Yeogurt application')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=cyrillic", rel="stylesheet")
    
    block stylesheets
        link(rel='stylesheet', href= baseUrl + 'styles/main.css')

body.ui-page
    <!--[if lt IE 9]>
    <p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    header.ui-header
        .l-grid.l-grid--container
            .l-row.l-row--xs-middle.ui-header__content
                    .l-col.l-col--xs-12.l-col--md-3.h-text--xs-center.h-text--md-left
                        .ui-header__logo
                            img(src="/images/logo.png")
                    .l-col.l-col--xs-12.l-col--md-6
                        .ui-header__menu
                                nav.ui-menu
                                    .ui-menu__item
                                        a.ui-menu__link(href="/") Главная 
                                    .ui-menu__item
                                        a.ui-menu__link(href="/services/") Услуги 
                                    .ui-menu__item
                                        a.ui-menu__link(href="/prices/") Цены 
                                    .ui-menu__item
                                        a.ui-menu__link(href="/portfolio/") Портфолио 
                                    .ui-menu__item
                                        a.ui-menu__link(href="/about/") О нас 
                                    .ui-menu__item
                                        a.ui-menu__link(href="/contact/") Контакты
                    .l-col.l-col--xs-12.l-col--md-3
                        a.ui-button.ui-button--transparentgrey.ui-button--block
                            img(src="/images/icon/mail.png") 
                            span Свяжитесь с нами

    main.ui-content
        block content
        
    footer.ui-footer-portfolio
        .l-grid.l-grid--container
            .l-row
                .l-col.l-col--xs-12.h-text--xs-center
                    h1.ui-heading.ui-heading--green.ui-heading--lvl1 ХОТИТЕ СВОЙ ПРОЕКТ?
            .l-row
                .l-col.l-col--xs-12.h-text--xs-center
                    .ui-description.ui-description--xs Lorem ipsum dolor sit amet, consectetuer adipiscing elit. #[br]Aenean commodo ligula eget dolor. Aenean massa.
            .l-row
                .l-col.l-col--xs-12.h-text--xs-center
                    a.ui-button.ui-button--default.ui-button--green Отправить заявку
            .l-row
                .l-col.l-col--xs-12.h-text--xs-center
                    .ui-footer-portfolio__copyright Все права защищены. © 2017 Company Name

    block scripts
        script(src= baseUrl + 'scripts/main.js')

</html>
