extends ../_layouts/base-line

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    .ui-page-content
        .l-grid.l-grid--container
            .l-row
                .l-col.l-col--xs-12.h-text--xs-center
                    h1.ui-heading.ui-heading--glitter.ui-heading--lvl1 Портфолио
            .l-row
                .l-col.l-col--xs-12.h-text--xs-center
                    .ui-description.ui-description--md.ui-description--grey Lorem ipsum dolor sit amet, consectetuer adipiscing #[br] elit aenean commodo ligula eget dolor.
            .l-row.ui-filter
                .l-col.l-col--xs-12.l-col--xs-flex.l-col--xs-space-around
                    a.ui-button.ui-button--white Все 
                    a.ui-button.ui-button--white Мобильные приложения
                    a.ui-button.ui-button--white Web приложения
                    a.ui-button.ui-button--white Web сайты
                    a.ui-button.ui-button--white Api
            .l-row
                .l-col.l-col--xs-4.h-text--xs-center
                    .ui-project-cart
                        .ui-project-cart__content
                            img(src="/images/portfolio/1.png") 
                            .ui-project-cart__teg
                                span # Мобильные приложения
                            .ui-project-cart__description
                                .ui-project-cart__title Название проекта
                                .ui-project-cart__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                .l-col.l-col--xs-4.h-text--xs-center
                    .ui-project-cart
                        .ui-project-cart__content
                            img(src="/images/portfolio/2.png") 
                            .ui-project-cart__teg
                                span # Web сайт
                            .ui-project-cart__description
                                .ui-project-cart__title Название проекта
                                .ui-project-cart__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                .l-col.l-col--xs-4.h-text--xs-center
                    .ui-project-cart
                        .ui-project-cart__content
                            img(src="/images/portfolio/3.png") 
                            .ui-project-cart__teg
                                span # Web сайт
                                span # Api
                            .ui-project-cart__description
                                .ui-project-cart__title Название проекта
                                .ui-project-cart__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                .l-col.l-col--xs-4.h-text--xs-center
                    .ui-project-cart
                        .ui-project-cart__content
                            img(src="/images/portfolio/1.png") 
                            .ui-project-cart__teg
                                span # Мобильные приложения
                            .ui-project-cart__description
                                .ui-project-cart__title Название проекта
                                .ui-project-cart__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                .l-col.l-col--xs-4.h-text--xs-center
                    .ui-project-cart
                        .ui-project-cart__content
                            img(src="/images/portfolio/2.png") 
                            .ui-project-cart__teg
                                span # Web сайт
                            .ui-project-cart__description
                                .ui-project-cart__title Название проекта
                                .ui-project-cart__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                .l-col.l-col--xs-4.h-text--xs-center
                    .ui-project-cart
                        .ui-project-cart__content
                            img(src="/images/portfolio/3.png") 
                            .ui-project-cart__teg
                                span # Web сайт
                                span # Api
                            .ui-project-cart__description
                                .ui-project-cart__title Название проекта
                                .ui-project-cart__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    .ui-confidence
        .ui-confidence__line
        .l-grid.l-grid--container
            .l-row
                .l-col.l-col--xs-12.h-text--xs-center
                    h1.ui-heading.ui-heading--glitter.ui-heading--lvl1 Нам доверяют
            .l-row
                .l-col.l-col--xs-12.h-text--xs-center
                    .ui-confidence__slider
                        .ui-confidence-slider.owl-carousel.owl-theme.owl-theme-confidence
                            .l-grid.l-grid--container
                                .l-row.l-row--xs-center
                                    .l-col.l-col--xs-12.l-col--md-auto
                                        .ui-confidence-slider-nav
                                            a.ui-confidence-slider-nav__arrow.js-confidence-carousel-prew
                                                img(src="/images/icon/arrow-left.png")
                                            span.ui-confidence-slider-nav__dot#customDots.owl-dots
                                            a.ui-confidence-slider-nav__arrow.js-confidence-carousel-next
                                                img(src="/images/icon/arrow-rigth.png")
                                .ui-confidence__slide.js-confidence-carousel
                                    .l-col.l-col--xs-12.l-col--xs-middle
                                        img.ui-confidence-slider__content(src="/images/confidence/coca-cola.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/adidas.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/lacoste.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/redbull.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/coca-cola.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/adidas.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/lacoste.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/redbull.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/coca-cola.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/adidas.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/lacoste.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/redbull.png")
