extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    .ui-about
        .l-grid.l-grid--container
            .l-row
                .l-col.l-col--xs-12.h-text--xs-center
                    h1.ui-heading.ui-heading--lavender.ui-heading--lvl1 О нас
            .l-row
                .l-col.l-col--xs-12.h-text--xs-center
                    .ui-description.ui-description--grey Компания «Company Name» стремится сочетать #[br] в своей работе понятие «Счастье и Деньги».
            .l-row.l-row--xs-middle
                .l-col.l-col--xs-12.l-col--lg-6
                    .ui-about__logo
                        img(src="/images/logo.png") 
                    .ui-about__description Сompany Name
                        span &nbsp — Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam.
                .l-col.l-col--xs-12.l-col--lg-6
                    .ui-about__info
                        .ui-about-info
                            .ui-about-info__img
                                img(src="/images/icon/activities.png") 
                            .ui-about-info__content
                                .ui-about-info__title Lorem ipsum dolor
                                .ui-about-info__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                        hr.ui-line
                        .ui-about-info
                            .ui-about-info__img
                                img(src="/images/icon/activities.png") 
                            .ui-about-info__content
                                .ui-about-info__title Lorem ipsum dolor
                                .ui-about-info__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
    .ui-results
        .l-grid.l-grid--container
            .l-row
                .l-col.l-col--xs-12.l-col--lg-7.h-text--xs-center
                    img.ui-image.ui-image--responsive(src="/images/results/results.png") 
                .l-col.l-col--xs-12.l-col--lg-5
                    h2.ui-heading.ui-heading--glitter.ui-heading--lvl2 КАК МЫ ПОЛУЧАЕМ
                        span &nbsp МОЩНЫЕ
                        |#{' '} РЕЗУЛЬТАТЫ?
                    .ui-description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis.
            .l-row
                .l-col.l-col--xs-12.l-col--md-6.l-col--lg-3.h-text--xs-center
                    .ui-result-cart
                        .ui-result-cart__img
                            img(src="/images/icon/activities-white.png") 
                        .ui-result-cart__title Lorem ipsum dolor
                        .ui-result-cart__description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                .l-col.l-col--xs-12.l-col--md-6.l-col--lg-3.h-text--xs-center
                    .ui-result-cart
                        .ui-result-cart__img
                            img(src="/images/icon/activities-white.png") 
                        .ui-result-cart__title Lorem ipsum dolor
                        .ui-result-cart__description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                .l-col.l-col--xs-12.l-col--md-6.l-col--lg-3.h-text--xs-center
                    .ui-result-cart
                        .ui-result-cart__img
                            img(src="/images/icon/activities-white.png") 
                        .ui-result-cart__title Lorem ipsum dolor
                        .ui-result-cart__description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                .l-col.l-col--xs-12.l-col--md-6.l-col--lg-3.h-text--xs-center
                    .ui-result-cart
                        .ui-result-cart__img
                            img(src="/images/icon/activities-white.png") 
                        .ui-result-cart__title Lorem ipsum dolor
                        .ui-result-cart__description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
    .ui-confidence
        .ui-confidence__line
        .l-grid.l-grid--container
            .l-row
                .l-col.l-col--xs-12.h-text--xs-center
                    h1.ui-heading.ui-heading--glitter.ui-heading--lvl1 Нам доверяют
            .l-row
                .l-col.l-col--xs-12.h-text--xs-center
                    .ui-confidence__slider
                        .ui-confidence-slider.owl-carousel.owl-theme.owl-theme-confidence
                            .l-grid.l-grid--container
                                .l-row.l-row--xs-center
                                    .l-col.l-col--xs-12.l-col--md-auto
                                        .ui-confidence-slider-nav
                                            a.ui-confidence-slider-nav__arrow.js-confidence-carousel-prew
                                                img(src="/images/icon/arrow-left.png")
                                            span.ui-confidence-slider-nav__dot#customDots.owl-dots
                                            a.ui-confidence-slider-nav__arrow.js-confidence-carousel-next
                                                img(src="/images/icon/arrow-rigth.png")
                                .ui-confidence__slide.js-confidence-carousel
                                    .l-col.l-col--xs-12.l-col--xs-middle
                                        img.ui-confidence-slider__content(src="/images/confidence/coca-cola.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/adidas.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/lacoste.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/redbull.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/coca-cola.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/adidas.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/lacoste.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/redbull.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/coca-cola.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/adidas.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/lacoste.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/redbull.png")
