.ui-about-info
    display flex
    align-items center

    &__content
        padding-left 30px
        font-family 'Open Sans'

    &__title
        font-size 17px
        color #5d5d64
        line-height 60px
        font-weight bold
        text-transform uppercase

    &__text
        font-size 13px
        color #8f8e94
        line-height 27px
