.ui-activities-cart
    display flex
    flex-direction column
    justify-content center
    padding 26px

    &__title
        font-family 'Open Sans'
        font-size 17px
        color #5d5d64
        text-align center
        line-height 60px
        text-transform uppercase
        font-weight bold

    &__description
        font-family 'Open Sans'
        font-size 13px
        color #8f8e94
        text-align center
        line-height 22px
