.ui-button
    font-family 'Open Sans'
    font-size 14px
    line-height 24px
    border-radius 23px
    cursor pointer
    text-align center
    bottom 0
    display inline-block

    &--default
        padding 10px 25px 11px
        min-width 240px

    &--md
        padding 10px 30px 11px
        width 197px

    &--lg
        width 299px
        display block

    &--white
        padding 8px 25px 9px
        border 2px solid #eff2fb
        color #6a6971
        margin 10px 10px 0 0

        @media(max-width: 544px)
            margin-right 0
            width 100%

    &--transparent
        display flex
        align-items center
        justify-content center
        padding 8px 25px 9px
        border 2px solid #676ea0

        span
            color #fff
            padding-left 10px

    &--transparentgrey
        padding 8px 25px 9px
        border 2px solid #eff2fb
        display flex
        align-items center
        justify-content center

        span
            color #6a6971
            padding-left 10px

    &--green
        background-image linear-gradient(#5fa315 0%, #80d325 100%)
        color #fff

    &--blue
        background-image linear-gradient(#2956ba 0%, #2572d3 100%)
        color #fff
        transition all .2s ease

    &--block
        display flex
        align-items center

    &--price
        text-decoration none

        &:before
            content attr(data-label-normal)
