.ui-choice-cart
    padding-bottom 90px

    &__number
        font-family 'OpenSans'
        font-size 107px
        font-weight bold
        color #dddfe4
        line-height 30px

    &__title
        font-family 'OpenSans'
        font-size 17px
        font-weight bold
        color #58627c
        line-height 30px
        margin-top -20px
        padding 0 20px

    &__description
        font-family 'OpenSans'
        font-size 13px
        color #58627c
        line-height 22px
        padding 20px
