.ui-contact-block
    font-family 'Open Sans'
    color #6a6971
    margin-top 25px

    @media(min-width: 768px)
        margin-top 0

    &__heading
        display flex
        align-items center

        span
            padding-left 10px
            font-size 19px
            line-height 36px
            font-weight bold

    &__title
        font-size 13px
        line-height 36px
        font-weight bold

    &__phone
        font-size 24px
        line-height 36px

    &__text
        font-size 17px
        line-height 33px
