.ui-development-cart
    display flex
    align-items center
    padding 20px 0 20px 60px

    @media(min-width: 412px)
        padding-left 0

    &__img
        height 82px
        min-width 82px
        border-radius 82px
        box-shadow inset 0px 1px 0px 0px rgba(255, 255, 255, 0.14)
        background-image linear-gradient(#2956ba 0%, #2572d3 100%)
        display flex
        align-items center
        justify-content center

    &__content
        padding-left 20px

    &__title
        font-family 'OpenSans'
        font-size 17px
        color #5d5d64
        line-height 60px
        text-transform uppercase

    &__description
        font-family 'OpenSans'
        font-size 13px
        color #8f8e94
        text-align left
        line-height 25px
