.ui-heading
    font-family 'Open Sans'
    color #6a6971

    &--white
        color #fff

    &--green
        color #85db26

    &--lvl0
        font-size 41px
        text-transform uppercase
        font-weight lighter
        line-height 60px
        position relative
        margin 0
        padding-bottom 27px

        &:after
            content ''
            width 140px
            height 7px
            position absolute
            display block
            background linear-gradient(to right,#5a568d 70%,rgba(255, 255, 255, 0) 70%,rgba(255, 255, 255, 0) 80%,#5a568d 80%)
            bottom 0
            left 0

    &--lvl1
        font-size 41px
        text-transform uppercase
        font-weight lighter
        line-height 60px
        position relative
        margin 0
        padding-bottom 27px

        &:after
            content ''
            width 140px
            height 7px
            position absolute
            display block
            background linear-gradient(to right,#5a568d 70%,rgba(255, 255, 255, 0) 70%,rgba(255, 255, 255, 0) 80%,#5a568d 80%)
            left 50%
            margin-left -70px
            bottom 0

    &--left

        &:after
            left 0
            margin-left 0

    &--default

        &:after
             background linear-gradient(to right,#676767 70%,rgba(255, 255, 255, 0) 70%,rgba(255, 255, 255, 0) 80%,#676767 80%)

    &--glitter

        &:after
             background linear-gradient(to right,#e8edfa 70%,rgba(255, 255, 255, 0) 70%,rgba(255, 255, 255, 0) 80%,#e8edfa 80%)

    &--lavender

        &:after
             background linear-gradient(to right,#ced3e2 70%,rgba(255, 255, 255, 0) 70%,rgba(255, 255, 255, 0) 80%,#ced3e2 80%)

    &--lvl2
        font-family 'Open Sans'
        font-size 32px
        color #6a6971
        text-align left
        line-height 46px
        font-weight lighter
        position relative
        padding-bottom 20px
        margin 0

        &:after
            content ''
            width 140px
            height 7px
            position absolute
            display block
            background linear-gradient(to right,#e8edfa 70%,rgba(255, 255, 255, 0) 70%,rgba(255, 255, 255, 0) 80%,#e8edfa 80%)
            bottom 0

        span
            font-weight bold

    &--lvl3
        font-family 'Open Sans'
        font-size 29px
        color #6a6971
        line-height 42px
        text-transform uppercase
        font-weight lighter
        position relative
        padding-bottom 20px
        margin 0

        &:after
            content ''
            width 140px
            height 7px
            position absolute
            display block
            background linear-gradient(to right,#e8edfa 70%,rgba(255, 255, 255, 0) 70%,rgba(255, 255, 255, 0) 80%,#e8edfa 80%)
            bottom 0
            left 50%
            margin-left -70px

    &--left

        &:after
            left 0
            margin-left 0

    &--lvl4
        font-family 'Open Sans'
        font-size 24px
        color #fefefe
        line-height 32px
        font-weight bold
        margin 0
