.ui-input
    bottom 0
    font-family 'Open Sans'
    font-size 14px
    color #9a9a9a
    line-height 24px
    width 100%
    outline 0
    transition all .2s ease

    &--default
        border 3px solid #eff2fb
        padding 8px 18px

        &:focus
            border-color #cee1ea

    &--bg
        background-repeat no-repeat
        background-position 15px 50%
        padding 9px 18px 8px 40px

    &--column
        margin-top 30px

.ui-textarea
    font-family 'Open Sans'
    font-size 14px
    color #9a9a9a
    line-height 24px
    resize none
    width 100%
    margin-top 30px
    outline 0

    &--default
        border 3px solid #eff2fb
        background-repeat no-repeat
        background-position 2% 32%
        padding 9px 18px 8px 40px

        &:focus
            border-color #cee1ea
