.ui-input
    bottom 0
    font-family 'Open Sans'
    font-size 14px
    color #9a9a9a
    line-height 24px
    width 100%

    &--default
        border 3px solid #eff2fb
        padding 8px 18px

    &--bg
        background-repeat no-repeat
        background-position 7% 50%
        padding 9px 18px 8px 40px

.ui-textarea
    font-family 'Open Sans'
    font-size 14px
    color #9a9a9a
    line-height 24px
    resize none
    width 100%
    margin-top 30px

    &--default
        border 3px solid #eff2fb
        background-repeat no-repeat
        background-position 2% 32%
        padding 9px 18px 8px 40px
