.ui-modal
    max-width 640px
    background #fff
    margin 0 auto
    padding 20px 0
    border-radius 10px
    box-shadow 0px 9px 37px 0px #000
    position relative

    &__header
        text-align center
        font-family 'Open Sans'
        font-size 32px
        color #6a6971
        line-height 46px
        font-weight lighter
        position relative
        margin 0

    &__text
        padding 20px 0
        color #cfcde1
        font-family 'Open Sans'
        font-size 14px
        line-height 24px
