.ui-news-cart
    display flex
    align-items center
    justify-content center

    &__img
        height 80px
        width 80px
        border-radius 50%

    &__text
        font-family 'OpenSans'
        font-size 13px
        color #5d5d64
        line-height 19px
        text-transform uppercase
        font-weight bold
        text-align left
        padding-left 20px
