.ui-order-cart
    font-family 'OpenSans'

    &__img
        display flex
        align-items center
        justify-content center
        height 60px

    &__title
        font-size 17px
        color #5d5d64
        line-height 60px
        text-transform uppercase
        font-weight bold

    &__description
        font-size 13px
        color #8f8e94
        line-height 22px
