.ui-price-cart
    font-family 'Open Sans'
    padding 26px 13px

    &__item
        text-align center
        cursor pointer
        transition all .2s ease
        position relative

        &:after
            content ''
            display block
            position absolute
            width 100%
            height 100%
            left 0
            top 0
            border-top 1px solid #edf1fb
            border-bottom 1px solid #edf1fb
            border-right 1px solid rgba(255, 255, 255, 0)
            border-left 1px solid rgba(255, 255, 255, 0)
            transition all .2s ease
            background-position top right

        &:before
            content ''
            display block
            height calc(100% - 26px)
            border-right 1px solid #edf1fb
            position absolute
            z-index 0
            right -1px

        &--active
            & ^[0]__price
                position relative
                z-index 2

            .ui-button--price
                background-image linear-gradient(#2956ba 0%, #2572d3 100%)

                &:before
                    content attr(data-label-hover)
            &:after
                padding-top 36px
                padding-bottom 36px
                border-left-color #edf1fb
                border-right-color #edf1fb
                border-radius 5px
                top -17px
                bottom -17px
                height calc(100% + 34px)
                box-shadow 0 0 12px 0 rgba(148, 154, 186, .17)
                left -20px
                right -20px
                width calc(100% + 40px)
                background-color #fff
                background-image url('/images/price-angle.png')
                background-repeat no-repeat
                z-index 1

            &:before
                display none

        &--first
            &:after
                border-left 1px solid #edf1fb
                border-radius 10px 0 0 10px

        &--last
            &:after
                border-right 1px solid #edf1fb
                border-radius 0 10px 10px 0

            &:before
                display none


    &__title
        font-size 15px
        color #5c657f
        line-height 24px
        font-weight bold
        position relative
        z-index 2

    &__price
        font-size 15px
        color #458de1
        line-height 24px
        padding 17px 0
        border-bottom 2px solid #e2e8f9

        span
            font-size 33px

    &__list
        display flex
        justify-content center
        position relative
        padding 16px 0
        z-index 2

    &__description
        font-size 12px
        color #c2c6d1
        line-height 24px
        padding-bottom 24px
        position relative
        z-index 2

    &__button
        position relative
        z-index 2
