.owl-theme-confidence
    .owl-item
        img
            width auto
            margin 0 auto
            display inline-block
            max-width 100%

    .owl-dots
        .owl-dot
            span
                background #e8edfa
                border 5px solid #fff
                width 20px
                height 20px

            &.active span
            &:hover span
                background #fff
                width 20px
                height 20px
                border 3px solid #84d030

     .owl-stage
        align-items center
        display flex

    .owl-nav.disabled + .owl-dots
        margin-top 0

.ui-cooperation-slider
    padding-bottom 25px

    &__content
        border-radius 10px
        box-shadow 0px 12px 23px 0px rgba(0,0,0,0.2)
