.ui-step-price
    font-size 12px
    text-align left
    line-height 24px
    margin 0
    padding 0

    li
        color #6ac567

        span
            color #59637c

.ui-step-works
    font-family 'OpenSans'
    font-size 14px
    color #6a6971
    line-height 31px
    list-style-type circle
    list-style-position inside
    margin 0
    padding 0
    font-weight lighter

    &--grey
        color #a5a3b2
        margin 10px 0
