.ui-work-cart
    font-family 'Open Sans'
    color #6a6971
    padding 50px 0

    &__img
        border-radius 10px
        display flex
        justify-content center

    &__title
        font-size 16px
        line-height 60px
        font-weight bold

    &__description
        font-size 14px
        line-height 24px
