extends ../_layouts/base-contact

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    .ui-page-content
        .l-grid.l-grid--container
            .l-row
                .l-col.l-col--xs-12.h-text--xs-center
                    h1.ui-heading.ui-heading--glitter.ui-heading--lvl1 Контакты
            .l-row
                .l-col.l-col--xs-12.h-text--xs-center
                    .ui-description Аутсорс студия «Company Name»
            .l-row
                .l-col.l-col--xs-12.h-text--xs-center
                    .ui-contact
                        .l-grid.l-grid--container
                            .l-row
                                .l-col.l-col--xs-12.l-col--sm-12.l-col--md-4.h-text--xs-left
                                    .ui-contact-block
                                        .ui-contact-block__heading 
                                            img(src="/images/icon/phone.png")
                                            span Телефоны компании
                                        .ui-contact-block__title Телефон в Москве:
                                        .ui-contact-block__phone +7 (915) 999-99-99
                                        .ui-contact-block__title Телефон в Санкт-Петербурге:
                                        .ui-contact-block__phone +7 (915) 999-99-99
                                .l-col.l-col--xs-12.l-col--sm-12.l-col--md-4.h-text--xs-left
                                    .ui-contact-block
                                        .ui-contact-block__heading 
                                            img(src="/images/icon/e-mail.png")
                                            span Электронная почта
                                        .ui-contact-block__title E-mail:
                                        .ui-contact-block__text info@domainame.com
                                        .ui-contact-block__title Техподдержка:
                                        .ui-contact-block__text support@domainame.com
                                .l-col.l-col--xs-12.l-col--sm-12.l-col--md-4.h-text--xs-left
                                    .ui-contact-block
                                        .ui-contact-block__heading 
                                            img(src="/images/icon/ofice.png")
                                            span Центральный офис
                                        .ui-contact-block__title Россия, г. Москва:
                                        .ui-contact-block__text Графский переулок, дом 14
                                        .ui-contact-block__title Россия, г. Санкт-Петербург:
                                        .ui-contact-block__text Пр-т. Большевиков, дом 18
    .ui-map#map-canvas
        
    script(type="text/javascript").
        ymaps.ready(init);

        var myMap,
            myPlacemark;

        function init(){     
            var myMap = new ymaps.Map("map-canvas", {
                    center: [55.709305, 37.595591],
                    zoom: 16,
                    type: "yandex#map",
                    controls: ['zoomControl'],
                    behaviors: ['default']
            });
            myMap.behaviors.disable('scrollZoom');


            var myPlacemark = new ymaps.Placemark(
                [55.709305, 37.595591],
                {},
                {
                    iconLayout: 'default#image',
                    iconImageHref: '/images/ymap.png',
                    iconImageSize: [54, 83],
                    iconImageOffset: [-27, -83]
                }
            );
            myMap.geoObjects.add(myPlacemark);
        }
