extends ../_layouts/base-line

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    .ui-page-content
        .l-grid.l-grid--container
            .l-row
                .l-col.l-col--xs-12.h-text--xs-center
                    h1.ui-heading.ui-heading--glitter.ui-heading--lvl1 РЕШЕНИЯ ДЛЯ ВАШЕГО БИЗНЕСА
            .l-row
                .l-col.l-col--xs-12.h-text--xs-center
                    .ui-description.ui-description--grey Наши клиенты прекрасно понимают - чтобы серьезно заработать, нужно #[br] соответственно инвестировать
            .l-row.l-row--xs-middle.ui-price
                .l-col.l-col--xs-3.h-text--xs-center.l-col--no-gutters.ui-price__item.ui-price__item--first
                    .ui-price-cart.ui-price-cart__item.ui-price-cart__item--first
                        .ui-price-cart__title Standart
                        .ui-price-cart__price от 
                            span 45000 
                            |#{' '} руб.
                        .ui-price-cart__list 
                            ul.ui-step-price
                                li 
                                    span Lorem ipsum dolor sit
                                li 
                                    span Lorem ipsum dolor sit
                        .ui-price-cart__description Lorem ipsum dolor sit amet #[br] Lorem ipsum dolor
                        .ui-price-cart__button
                                a.ui-button.ui-button--md.ui-button--green.ui-button--price(data-label-normal="Узнать стоимость", data-label-hover="Начать сейчас", href="#")
                .l-col.l-col--xs-3.h-text--xs-center.l-col--no-gutters.ui-price__item
                    .ui-price-cart.ui-price-cart__item
                        .ui-price-cart__title Premium
                        .ui-price-cart__price от 
                            span 45000 
                            |#{' '} руб.
                        .ui-price-cart__list 
                            ul.ui-step-price
                                li 
                                    span Lorem ipsum dolor sit
                                li 
                                    span Lorem ipsum dolor sit
                        .ui-price-cart__description Lorem ipsum dolor sit amet #[br] Lorem ipsum dolor
                        .ui-price-cart__button
                            a.ui-button.ui-button--md.ui-button--green.ui-button--price(data-label-normal="Узнать стоимость", data-label-hover="Начать сейчас", href="#")
                .l-col.l-col--xs-3.h-text--xs-center.l-col--no-gutters.ui-price__item
                    .ui-price-cart.ui-price-cart__item.ui-price-cart__item--active
                        .ui-price-cart__title Gold
                        .ui-price-cart__price от 
                            span 45000 
                            |#{' '} руб.
                        .ui-price-cart__list 
                            ul.ui-step-price
                                li 
                                    span Lorem ipsum dolor sit
                                li 
                                    span Lorem ipsum dolor sit
                        .ui-price-cart__description Lorem ipsum dolor sit amet #[br] Lorem ipsum dolor
                        .ui-price-cart__button
                            a.ui-button.ui-button--md.ui-button--green.ui-button--price(data-label-normal="Узнать стоимость", data-label-hover="Начать сейчас", href="#")
                .l-col.l-col--xs-3.h-text--xs-center.l-col--no-gutters.ui-price__item.ui-price__item--last
                    .ui-price-cart.ui-price-cart__item.ui-price-cart__item--last
                        .ui-price-cart__title Platinum
                        .ui-price-cart__price от 
                            span 45000 
                            |#{' '} руб.
                        .ui-price-cart__list 
                            ul.ui-step-price
                                li 
                                    span Lorem ipsum dolor sit
                                li 
                                    span Lorem ipsum dolor sit
                        .ui-price-cart__description Lorem ipsum dolor sit amet #[br] Lorem ipsum dolor
                        .ui-price-cart__button
                            a.ui-button.ui-button--md.ui-button--green.ui-button--price(data-label-normal="Узнать стоимость", data-label-hover="Начать сейчас", href="#")
            .l-row
                .l-col.l-col--xs-12
                    .ui-price-info
                        .l-grid.l-grid--container
                            .l-row
                                .l-col.l-col--xs-11.l-col--xs-offset-1.l-col--no-gutters
                                    .ui-price-info-block
                                        .l-grid.l-grid--container
                                            .l-row.l-row--xs-middle
                                                .l-col.l-col--xs-7.l-col--xs-offset-2.l-col--no-gutters
                                                    h2.ui-heading.ui-heading--glitter.ui-heading--lvl2 Не нашли подходящее решение?
                                                    .ui-description.ui-description--grey.ui-description--xs Мы разработаем его индивидуально для Вас!
                                                .l-col.l-col--xs-3.h-text--xs-center.l-col--no-gutters
                                                    a.ui-button.ui-button--transparentgrey
                                                        img(src="/images/icon/call.png") 
                                                        span Заказать звонок
                        img.ui-price-img(src="/images/lady.png") 
