extends ../_layouts/base-line

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    .ui-page-content
        .l-grid.l-grid--container
            .l-row
                .l-col.l-col--xs-12.h-text--xs-center
                    h1.ui-heading.ui-heading--glitter.ui-heading--lvl1 РЕШЕНИЯ ДЛЯ ВАШЕГО БИЗНЕСА
            .l-row
                .l-col.l-col--xs-12.h-text--xs-center
                    .ui-description.ui-description--grey Наши клиенты прекрасно понимают - чтобы серьезно заработать, нужно #[br] соответственно инвестировать
            
