extends _layouts/base

include _modules/link/link

block content
    .ui-first-screen
        .l-grid.l-grid--container
            .l-row
                .l-col.l-col--xs-12.h-text--xs-center
                    h1.ui-heading.ui-heading--white.ui-heading--lvl1 ЗАГОЛОВОК ДЛЯ ЦЕЛЕВОЙ АУДИТОРИИ
                .l-col.l-col--xs-12.h-text--xs-center
                    .ui-description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean #[br] massa. Cum sociis natoque penatibus et magnis.
                .l-col.l-col--xs-12.h-text--xs-center
                    .l-grid.l-grid--container
                        .l-row.l-row--xs-center
                            .l-col.l-col--xs-12.l-col--md-auto
                                a.ui-button.ui-button--default.ui-button--green Рассчитать стоимость
                            .l-col.l-col--xs-12.l-col--md-auto
                                a.ui-button.ui-button--default.ui-button--blue Узнать подробнее
                .l-col.l-col--xs-12.h-text--xs-center
                    .ui-first-screen__img
                        img.ui-image.ui-image--responsive(src="/images/phone.png")
    .ui-activities
        .l-grid.l-grid--container.ui-activities__content
            .l-row
                .l-col.l-col--xs-12.h-text--xs-center
                    h1.ui-heading.ui-heading--default.ui-heading--lvl1 ЧТО МЫ ДЕЛАЕМ?
            .l-row
                .l-col.l-col--xs-12.h-text--xs-center
                    .ui-description.ui-description--taupegray Lorem ipsum dolor sit amet, consectetuer adipiscing elit aenean commodo ligula eget dolor.
            .l-row
                .l-col.l-col--xs-4.h-text--xs-center
                    .ui-activities-cart
                        .ui-activities-cart__img
                            img(src="/images/icon/activities.png")
                        .ui-activities-cart__title Lorem ipsum dolor
                        .ui-activities-cart__description  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula egetdolor. Aenean massa сum sociis natoque.
                .l-col.l-col--xs-4.h-text--xs-center
                    .ui-activities-cart
                        .ui-activities-cart__img
                            img(src="/images/icon/activities.png")
                        .ui-activities-cart__title Lorem ipsum dolor
                        .ui-activities-cart__description  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula egetdolor. Aenean massa сum sociis natoque.
                .l-col.l-col--xs-4.h-text--xs-center
                    .ui-activities-cart
                        .ui-activities-cart__img
                            img(src="/images/icon/activities.png")
                        .ui-activities-cart__title Lorem ipsum dolor
                        .ui-activities-cart__description  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula egetdolor. Aenean massa сum sociis natoque.
                .l-col.l-col--xs-4.h-text--xs-center
                    .ui-activities-cart
                        .ui-activities-cart__img
                            img(src="/images/icon/activities.png")
                        .ui-activities-cart__title Lorem ipsum dolor
                        .ui-activities-cart__description  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula egetdolor. Aenean massa сum sociis natoque.
                .l-col.l-col--xs-4.h-text--xs-center
                    .ui-activities-cart
                        .ui-activities-cart__img
                            img(src="/images/icon/activities.png")
                        .ui-activities-cart__title Lorem ipsum dolor
                        .ui-activities-cart__description  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula egetdolor. Aenean massa сum sociis natoque.
                .l-col.l-col--xs-4.h-text--xs-center
                    .ui-activities-cart
                        .ui-activities-cart__img
                            img(src="/images/icon/activities.png")
                        .ui-activities-cart__title Lorem ipsum dolor
                        .ui-activities-cart__description  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula egetdolor. Aenean massa сum sociis natoque.
        .ui-activities__bg
    .ui-confidence
        .l-grid.l-grid--container
            .l-row
                .l-col.l-col--xs-12.h-text--xs-center
                    h1.ui-heading.ui-heading--glitter.ui-heading--lvl1 Нам доверяют
            .l-row
                .l-col.l-col--xs-12.h-text--xs-center
                    .ui-confidence__slider
                        .ui-confidence-slider.owl-carousel.owl-theme.owl-theme-confidence
                            .l-grid.l-grid--container
                                .l-row.l-row--xs-center
                                    .l-col.l-col--xs-12.l-col--md-auto
                                        .ui-confidence-slider-nav
                                            a.ui-confidence-slider-nav__arrow.js-confidence-carousel-prew
                                                img(src="/images/icon/arrow-left.png")
                                            span.ui-confidence-slider-nav__dot#customDots.owl-dots
                                            a.ui-confidence-slider-nav__arrow.js-confidence-carousel-next
                                                img(src="/images/icon/arrow-rigth.png")
                                .ui-confidence__slide.js-confidence-carousel
                                    .l-col.l-col--xs-12.l-col--xs-middle
                                        img.ui-confidence-slider__content(src="/images/confidence/coca-cola.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/adidas.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/lacoste.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/redbull.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/coca-cola.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/adidas.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/lacoste.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/redbull.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/coca-cola.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/adidas.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/lacoste.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/redbull.png")
        .ui-confidence__line
    .ui-choice
        .l-grid.l-grid--container
            .l-row
                .l-col.l-col--xs-12.h-text--xs-center
                    h1.ui-heading.ui-heading--glitter.ui-heading--lvl1 ПОЧЕМУ ВЫБИРАЮТ НАС?
                .l-col.l-col--xs-12.h-text--xs-center
                    .ui-description Наши основные преимущества
                .l-col.l-col--xs-12
                    .l-grid
                        .l-row.l-row--xs-middle
                            .l-col.l-col--xs-3.h-text--xs-right
                                .ui-choice-cart
                                    .ui-choice-cart__number 1
                                    .ui-choice-cart__title Lorem ipsum dolor
                                    .ui-choice-cart__description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor aenean massa сum sociis.
                                .ui-choice-cart
                                    .ui-choice-cart__number 2
                                    .ui-choice-cart__title Lorem ipsum dolor
                                    .ui-choice-cart__description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor aenean massa сum sociis.
                            .l-col.l-col--xs-6.h-text--xs-center
                                img.ui-choice__img(src="/images/choice.png")
                            .l-col.l-col--xs-3.h-text--xs-left
                                .ui-choice-cart
                                    .ui-choice-cart__number 3
                                    .ui-choice-cart__title Lorem ipsum dolor
                                    .ui-choice-cart__description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor aenean massa сum sociis.
                                .ui-choice-cart
                                    .ui-choice-cart__number 4
                                    .ui-choice-cart__title Lorem ipsum dolor
                                    .ui-choice-cart__description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor aenean massa сum sociis.
    .ui-cooperation
        .l-grid.l-grid--container
            .l-row
                .l-col.l-col--xs-12.h-text--xs-center
                    h1.ui-heading.ui-heading--white.ui-heading--lvl1 КАК МЫ РАБОТАЕМ?
                .l-col.l-col--xs-12.h-text--xs-center
                    .ui-description За годы работы мы выработали оптимальный вариант сотрудничества с заказчиком.
                .l-col.l-col--xs-12.h-text--xs-center
                    .ui-cooperation__slider
                        .ui-cooperation-slider.owl-carousel.owl-theme.owl-theme-cooperation
                            .l-grid.l-grid--container
                                .l-row.l-row--xs-center.l-row--xs-middle
                                    .l-col.l-col--xs-1.l-col--md-auto
                                        .ui-cooperation-slider-nav
                                            a.ui-cooperation-slider-nav__arrow.js-cooperation-carousel-prew
                                                img(src="/images/icon/arrow-left.png")
                                    .l-col.l-col--xs-1.l-col--md-auto
                                        .ui-cooperation__slide.js-cooperation-carousel
                                            .l-col.l-col--xs-12.l-col--xs-middle
                                                img.ui-cooperation-slider__content(src="/images/cooperation.png")
                                    .l-col.l-col--xs-1.l-col--md-auto
                                        .ui-cooperation-slider-nav        
                                            a.ui-cooperation-slider-nav__arrow.js-cooperation-carousel-next
                                                img(src="/images/icon/arrow-rigth.png")
                .l-col.l-col--xs-12.h-text--xs-center
                    h2.ui-heading.ui-heading--white.ui-heading--lvl2 У НАС ЕСТЬ ДВА ВАРИАНТА СОТРУДНИЧЕСТВА 	
                .l-col.l-col--xs-12.h-text--xs-center
                    .ui-cooperation__option
                        .l-grid.l-grid--container
                            .l-row.l-row--xs-middle
                                .l-col.l-col--xs-6.h-text--xs-left
                                    .ui-option
                                        .ui-option__list А
                                            .ui-option__description Мы работаем с Вами по классической схеме 50% предоплата до начала работ - 50% постоплата после утверждения дизайн-макета.
                                .l-col.l-col--xs-6.h-text--xs-left
                                    .ui-option
                                        .ui-option__list Б
                                            .ui-option__description Вы получаете индивидуальную скидку при #[br]полной предоплате.
                            .l-row.l-row--xs-middle    
                                .l-col.l-col--xs-12.l-col--md-center
                                    .ui-option__link
                                        a.ui-button.ui-button--default.ui-button--blue Узнать подробнее
