extends _layouts/base-main

include _modules/link/link

block content
    .ui-first-screen
        .l-grid.l-grid--container
            .l-row
                .l-col.l-col--xs-12.h-text--xs-center
                    h1.ui-heading.ui-heading--white.ui-heading--lvl1 ЗАГОЛОВОК ДЛЯ ЦЕЛЕВОЙ АУДИТОРИИ
                .l-col.l-col--xs-12.h-text--xs-center
                    .ui-description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean #[br] massa. Cum sociis natoque penatibus et magnis.
                .l-col.l-col--xs-12.h-text--xs-center
                    .l-grid.l-grid--container
                        .l-row.l-row--xs-center
                            .l-col.l-col--xs-12.l-col--md-auto
                                a.ui-button.ui-button--default.ui-button--green.js-open-popup(href="#i-request") Рассчитать стоимость
                            .l-col.l-col--xs-12.l-col--md-auto
                                a.ui-button.ui-button--default.ui-button--blue.ui-button--xs-column.ui-button--md-row.js-open-popup(href="#i-request") Узнать подробнее
                .l-col.l-col--xs-12.h-text--xs-center
                    .ui-first-screen__img
                        img.ui-image.ui-image--responsive(src="/images/phone.png")
    .ui-activities
        .l-grid.l-grid--container.ui-activities__content
            .l-row
                .l-col.l-col--xs-12.h-text--xs-center
                    h1.ui-heading.ui-heading--default.ui-heading--lvl1 ЧТО МЫ ДЕЛАЕМ?
            .l-row
                .l-col.l-col--xs-12.h-text--xs-center
                    .ui-description.ui-description--taupegray Lorem ipsum dolor sit amet, consectetuer adipiscing elit aenean commodo ligula eget dolor.
            .l-row
                .l-col.l-col--xs-12.l-col--sm-6.l-col--md-4.h-text--xs-center
                    .ui-activities-cart
                        .ui-activities-cart__img
                            img(src="/images/icon/activities.png")
                        .ui-activities-cart__title Lorem ipsum dolor
                        .ui-activities-cart__description  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula egetdolor. Aenean massa сum sociis natoque.
                .l-col.l-col--xs-12.l-col--sm-6.l-col--md-4.h-text--xs-center
                    .ui-activities-cart
                        .ui-activities-cart__img
                            img(src="/images/icon/activities.png")
                        .ui-activities-cart__title Lorem ipsum dolor
                        .ui-activities-cart__description  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula egetdolor. Aenean massa сum sociis natoque.
                .l-col.l-col--xs-12.l-col--sm-6.l-col--md-4.h-text--xs-center
                    .ui-activities-cart
                        .ui-activities-cart__img
                            img(src="/images/icon/activities.png")
                        .ui-activities-cart__title Lorem ipsum dolor
                        .ui-activities-cart__description  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula egetdolor. Aenean massa сum sociis natoque.
                .l-col.l-col--xs-12.l-col--sm-6.l-col--md-4.h-text--xs-center
                    .ui-activities-cart
                        .ui-activities-cart__img
                            img(src="/images/icon/activities.png")
                        .ui-activities-cart__title Lorem ipsum dolor
                        .ui-activities-cart__description  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula egetdolor. Aenean massa сum sociis natoque.
                .l-col.l-col--xs-12.l-col--sm-6.l-col--md-4.h-text--xs-center
                    .ui-activities-cart
                        .ui-activities-cart__img
                            img(src="/images/icon/activities.png")
                        .ui-activities-cart__title Lorem ipsum dolor
                        .ui-activities-cart__description  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula egetdolor. Aenean massa сum sociis natoque.
                .l-col.l-col--xs-12.l-col--sm-6.l-col--md-4.h-text--xs-center
                    .ui-activities-cart
                        .ui-activities-cart__img
                            img(src="/images/icon/activities.png")
                        .ui-activities-cart__title Lorem ipsum dolor
                        .ui-activities-cart__description  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula egetdolor. Aenean massa сum sociis natoque.
        .ui-activities__bg
    .ui-confidence
        .l-grid.l-grid--container
            .l-row
                .l-col.l-col--xs-12.h-text--xs-center
                    h1.ui-heading.ui-heading--glitter.ui-heading--lvl1 Нам доверяют
            .l-row
                .l-col.l-col--xs-12.h-text--xs-center
                    .ui-confidence__slider
                        .ui-confidence-slider.owl-carousel.owl-theme.owl-theme-confidence
                            .l-grid.l-grid--container
                                .l-row.l-row--xs-center
                                    .l-col.l-col--xs-12.l-col--sm-auto
                                        .ui-confidence-slider-nav
                                            a.ui-confidence-slider-nav__arrow.js-confidence-carousel-prew
                                                img(src="/images/icon/arrow-left.png")
                                            span.ui-confidence-slider-nav__dot#customDots.owl-dots
                                            a.ui-confidence-slider-nav__arrow.js-confidence-carousel-next
                                                img(src="/images/icon/arrow-rigth.png")
                                .ui-confidence__slide.js-confidence-carousel
                                    .l-col.l-col--xs-12.l-col--xs-middle
                                        img.ui-confidence-slider__content(src="/images/confidence/coca-cola.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/adidas.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/lacoste.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/redbull.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/coca-cola.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/adidas.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/lacoste.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/redbull.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/coca-cola.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/adidas.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/lacoste.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/redbull.png")
        .ui-confidence__line
    .ui-choice
        .l-grid.l-grid--container
            .l-row
                .l-col.l-col--xs-12.h-text--xs-center
                    h1.ui-heading.ui-heading--glitter.ui-heading--lvl1 ПОЧЕМУ ВЫБИРАЮТ НАС?
                .l-col.l-col--xs-12.h-text--xs-center
                    .ui-description Наши основные преимущества
                .l-col.l-col--xs-12
                    .l-grid
                        .l-row.l-row--xs-middle
                            .l-col.l-col--xs-12.l-col--sm-4.l-col--md-3.h-text--xs-right
                                .ui-choice-cart
                                    .ui-choice-cart__number 1
                                    .ui-choice-cart__title Lorem ipsum dolor
                                    .ui-choice-cart__description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor aenean massa сum sociis.
                                .ui-choice-cart
                                    .ui-choice-cart__number 2
                                    .ui-choice-cart__title Lorem ipsum dolor
                                    .ui-choice-cart__description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor aenean massa сum sociis.
                            .l-col.l-col--xs-12.l-col--sm-4.l-col--md-6.h-text--xs-center
                                img.ui-choice__img(src="/images/choice.png")
                            .l-col.l-col--xs-12.l-col--sm-4.l-col--md-3.h-text--xs-left
                                .ui-choice-cart
                                    .ui-choice-cart__number 3
                                    .ui-choice-cart__title Lorem ipsum dolor
                                    .ui-choice-cart__description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor aenean massa сum sociis.
                                .ui-choice-cart
                                    .ui-choice-cart__number 4
                                    .ui-choice-cart__title Lorem ipsum dolor
                                    .ui-choice-cart__description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor aenean massa сum sociis.
    .ui-cooperation
        .l-grid.l-grid--container
            .l-row
                .l-col.l-col--xs-12.h-text--xs-center
                    h1.ui-heading.ui-heading--white.ui-heading--lvl1 КАК МЫ РАБОТАЕМ?
            .l-row
                .l-col.l-col--xs-12.h-text--xs-center
                    .ui-description За годы работы мы выработали оптимальный вариант сотрудничества с заказчиком.
            .l-row
                .l-col.l-col--xs-12.ui-make-slider__dots.ui-make-slider__dots--cooperation.js-make-carousel-dots
                        .ui-make-slider-dot
                            i
                            span АНАЛИЗ
                        .ui-make-slider-dot
                            i
                            span Стратегия
                        .ui-make-slider-dot
                            i
                            span Разработка
                        .ui-make-slider-dot
                            i
                            span Реклама
                        .ui-make-slider-dot
                            i
                            span Тесты
            .l-row.ui-make-slider
                .l-col.l-col--xs-12.l-col--sm-10.l-col--sm-offset-1.l-col--lg-8.l-col--lg-offset-2.ui-make-slider__nav
                        a.ui-make-slider__arrow.js-make-carousel-prew
                            img(src="/images/icon/arrow-left.png")
                        a.ui-make-slider__arrow.js-make-carousel-next
                            img(src="/images/icon/arrow-rigth.png")
            .l-row
                .l-col.l-col--xs-12.ui-cooperation__slider.owl-carousel.owl-theme.owl-theme-make.js-make-carousel
                    .l-grid
                        .l-row
                            .l-col.l-col--xs-12.l-col--sm-10.l-col--sm-offset-1.l-col--md-8.l-col--md-offset-2.l-col--lg-6.l-col--lg-offset-3.h-text--xs-center
                                img.ui-image--responsive.ui-make-slider__content(src="/images/make.png")
                    .l-grid
                        .l-row
                            .l-col.l-col--xs-12.l-col--sm-10.l-col--sm-offset-1.l-col--md-8.l-col--md-offset-2.l-col--lg-6.l-col--lg-offset-3.h-text--xs-center
                                img.ui-image--responsive.ui-make-slider__content(src="/images/make-2.png")
                    .l-grid
                        .l-row
                            .l-col.l-col--xs-12.l-col--sm-10.l-col--sm-offset-1.l-col--md-8.l-col--md-offset-2.l-col--lg-6.l-col--lg-offset-3.h-text--xs-center
                                img.ui-image--responsive.ui-make-slider__content(src="/images/make-3.png")
                    .l-grid
                        .l-row
                            .l-col.l-col--xs-12.l-col--sm-10.l-col--sm-offset-1.l-col--md-8.l-col--md-offset-2.l-col--lg-6.l-col--lg-offset-3.h-text--xs-center
                                img.ui-image--responsive.ui-make-slider__content(src="/images/make-4.png")
                    .l-grid
                        .l-row
                            .l-col.l-col--xs-12.l-col--sm-10.l-col--sm-offset-1.l-col--md-8.l-col--md-offset-2.l-col--lg-6.l-col--lg-offset-3.h-text--xs-center
                                img.ui-image--responsive.ui-make-slider__content(src="/images/make-5.png")

                .l-col.l-col--xs-12.h-text--xs-center
                    h4.ui-heading.ui-heading--white.ui-heading--lvl4 У НАС ЕСТЬ ДВА ВАРИАНТА СОТРУДНИЧЕСТВА

                .l-col.l-col--xs-12.h-text--xs-center
                    .ui-cooperation__option
                        .l-grid.l-grid--container
                            .l-row.l-row--xs-middle
                                .l-col.l-col--xs-12.l-col--sm-6.h-text--xs-left
                                    .ui-option
                                        .ui-option__list А
                                            .ui-option__description Мы работаем с Вами по классической схеме 50% предоплата до начала работ - 50% постоплата после утверждения дизайн-макета.
                                .l-col.l-col--xs-12.l-col--sm-6.h-text--xs-left
                                    .ui-option
                                        .ui-option__list Б
                                            .ui-option__description Вы получаете индивидуальную скидку при #[br]полной предоплате.
                            .l-row.l-row--xs-middle
                                .l-col.l-col--xs-12.l-col--md-center
                                    .ui-option__link
                                        a.ui-button.ui-button--default.ui-button--blue.js-open-popup(href="#i-request") Узнать подробнее

    .ui-Our-new-work
        .l-grid.l-grid--container
            .l-row
                .l-col.l-col--xs-12.h-text--xs-center
                    h1.ui-heading.ui-heading--glitter.ui-heading--lvl1 НАШИ НОВЫЕ РАБОТЫ
            .l-row
                .l-col.l-col--xs-12.l-col--md-4.h-text--xs-center
                    .ui-work-cart
                        .ui-work-cart__img
                            img.ui-image.ui-image--responsive(src="/images/our-work/work1.png")
                        .ui-work-cart__title Subway Surfers
                        .ui-work-cart__description IOS app
                .l-col.l-col--xs-12.l-col--md-4.h-text--xs-center
                    .ui-work-cart
                        .ui-work-cart__img
                            img.ui-image.ui-image--responsive(src="/images/our-work/work1.png")
                        .ui-work-cart__title Subway Surfers
                        .ui-work-cart__description IOS app
                .l-col.l-col--xs-12.l-col--md-4.h-text--xs-center
                    .ui-work-cart
                        .ui-work-cart__img
                            img.ui-image.ui-image--responsive(src="/images/our-work/work1.png")
                        .ui-work-cart__title Subway Surfers
                        .ui-work-cart__description IOS app
            .l-row.l-row--xs-center
                .l-col.l-col--xs-12.l-col--md-4.h-text--xs-center
                    a.ui-button.ui-button--transparentgrey.ui-button--default(href="/portfolio/")
                        img(src="/images/icon/work.png")
                        span Посмотреть все работы
