extends _layouts/base

include _modules/link/link

block content
    .ui-first-screen
        .l-grid.l-grid--container
            .l-row
                .l-col.l-col--xs-12.h-text--xs-center
                    h1.ui-heading.ui-heading--white.ui-heading--lvl1 ЗАГОЛОВОК ДЛЯ ЦЕЛЕВОЙ АУДИТОРИИ
                .l-col.l-col--xs-12.h-text--xs-center
                    .ui-description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean #[br] massa. Cum sociis natoque penatibus et magnis.
                .l-col.l-col--xs-12.h-text--xs-center
                    .l-grid.l-grid--container
                        .l-row.l-row--xs-center
                            .l-col.l-col--xs-12.l-col--md-auto
                                a.ui-button.ui-button--default.ui-button--green Рассчитать стоимость
                            .l-col.l-col--xs-12.l-col--md-auto
                                a.ui-button.ui-button--default.ui-button--blue Узнать подробнее
                .l-col.l-col--xs-12.h-text--xs-center
                    .ui-first-screen__img
                        img.ui-image.ui-image--responsive(src="/images/phone.png") 
    .ui-activities
        .l-grid.l-grid--container
            .l-row
                .l-col.l-col--xs-12.h-text--xs-center
                    h1.ui-heading.ui-heading--default.ui-heading--lvl1 ЧТО МЫ ДЕЛАЕМ?
            .l-row
                .l-col.l-col--xs-12.h-text--xs-center
                    .ui-description.ui-description--taupegray Lorem ipsum dolor sit amet, consectetuer adipiscing elit aenean commodo ligula eget dolor.
            .l-row
                .l-col.l-col--xs-4.h-text--xs-center
                    .ui-activities-cart
                        .ui-activities-cart__img
                            img(src="/images/icon/activities.png") 
                        .ui-activities-cart__title Lorem ipsum dolor
                        .ui-activities-cart__description  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula egetdolor. Aenean massa сum sociis natoque.
                .l-col.l-col--xs-4.h-text--xs-center
                    .ui-activities-cart
                        .ui-activities-cart__img
                            img(src="/images/icon/activities.png") 
                        .ui-activities-cart__title Lorem ipsum dolor
                        .ui-activities-cart__description  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula egetdolor. Aenean massa сum sociis natoque.
                .l-col.l-col--xs-4.h-text--xs-center
                    .ui-activities-cart
                        .ui-activities-cart__img
                            img(src="/images/icon/activities.png") 
                        .ui-activities-cart__title Lorem ipsum dolor
                        .ui-activities-cart__description  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula egetdolor. Aenean massa сum sociis natoque.
                .l-col.l-col--xs-4.h-text--xs-center
                    .ui-activities-cart
                        .ui-activities-cart__img
                            img(src="/images/icon/activities.png") 
                        .ui-activities-cart__title Lorem ipsum dolor
                        .ui-activities-cart__description  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula egetdolor. Aenean massa сum sociis natoque.
                .l-col.l-col--xs-4.h-text--xs-center
                    .ui-activities-cart
                        .ui-activities-cart__img
                            img(src="/images/icon/activities.png") 
                        .ui-activities-cart__title Lorem ipsum dolor
                        .ui-activities-cart__description  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula egetdolor. Aenean massa сum sociis natoque.
                .l-col.l-col--xs-4.h-text--xs-center
                    .ui-activities-cart
                        .ui-activities-cart__img
                            img(src="/images/icon/activities.png") 
                        .ui-activities-cart__title Lorem ipsum dolor
                        .ui-activities-cart__description  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula egetdolor. Aenean massa сum sociis natoque.
        .ui-activities__bg
    .ui-confidence
        .l-grid.l-grid--container
            .l-row
                .l-col.l-col--xs-12.h-text--xs-center
                    h1.ui-heading.ui-heading--glitter.ui-heading--lvl1 Нам доверяют
            .l-row
                .l-col.l-col--xs-12.h-text--xs-center
                    .ui-confidence__slider
                        .ui-confidence-slider.owl-carousel.owl-theme
                            .l-grid.l-grid--container
                                .l-row.l-row--xs-center
                                    .l-col.l-col--xs-12.l-col--md-auto
                                        .ui-confidence-slider-nav
                                            a.ui-confidence-slider-nav__arrow.js-confidence-carousel-prew
                                                img(src="/images/icon/arrow-left.png")
                                            span.ui-confidence-slider-nav__dot.owl-dots 
                                            a.ui-confidence-slider-nav__arrow.js-confidence-carousel-next
                                                img(src="/images/icon/arrow-rigth.png")
                                .l-row.l-row--xs-center.js-confidence-carousel
                                    .l-col.l-col--xs-12.l-col--xs-middle
                                        img.ui-confidence-slider__content(src="/images/confidence/coca-cola.png") 
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/adidas.png") 
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/lacoste.png") 
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/redbull.png") 
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/coca-cola.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/adidas.png") 
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/lacoste.png") 
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/redbull.png") 
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/coca-cola.png")
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/adidas.png") 
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/lacoste.png") 
                                    .l-col.l-col--xs-12
                                        img.ui-confidence-slider__content(src="/images/confidence/redbull.png") 
