// Normalize Styles
@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/owl.carousel/dist/assets/owl.carousel.css';
@import '../../node_modules/owl.carousel/dist/assets/owl.theme.default.css';

// Import Modules
@import './grid/flexbox-grid';
@import 'modules/button';
@import 'modules/input';
@import 'modules/heading';
@import 'modules/form';
@import 'modules/activities-cart';
@import 'modules/slider';
@import 'modules/choice-cart';

// Box sizing partial styles
// Apply a natural box layout model to all elements
*,
*:before,
*:after
    box-sizing border-box
    outline 1px dashed green

.ui-header
    padding 33px 0
    z-index 10
    position absolute
    width 100%

    &__content
        display flex
        align-items center

.ui-menu
    display flex
    justify-content space-between

    &__link
        font-family 'Open Sans'
        font-size 14px
        color #8893bf
        text-align left
        line-height 24px
        text-decoration none

.ui-footer
    background url('../images/footer-bg.png') no-repeat 50% 100%
    background-size cover
    padding 200px 0 30px 0

    &__copyright
        border-top 1px solid #373365
        padding-top 30px
        margin-top 140px
        color #4c457b

.ui-description
    padding 50px 0 90px
    color #cfcde1
    font-family 'OpenSans'
    font-size 14px
    line-height 24px

    &--taupegray
        color #8f8e94

.ui-first-screen
    background #edf2fe url('../images/first-screen-bg.png') no-repeat 50% 50%
    background-size cover
    padding-top 290px
    padding-bottom 354px
    position relative

    &__img
        transform translate(0, 50%)
        position absolute
        bottom 0

.ui-activities
    background #edf2fe
    padding 270px 0 0

    &__content
      position relative
      z-index 1

    &__bg
      content url('../images/activities-bg.png')
      background linear-gradient(to bottom, #edf2fe 0, #edf2fe 50%, #fff 50%, #fff 100%)
      position relative
      z-index 0
      max-width 100%
      margin-top -90px

.ui-confidence

    &__slider
        padding 50px 0

    &__line
        background url('../images/confidence/line.png') no-repeat 50% 50%
        background-size cover
        height 327px

.ui-confidence-slider-nav
    display flex
    align-items center

.ui-choice

    &__img
        width 100%

.ui-cooperation
    background url('../images/cooperation-bg.png') no-repeat 50% 50%
    background-size cover
    padding 250px 0

    &__option
        border 7px solid rgba(255, 255, 255, 0.1)

.ui-option
    padding 50px 25px

    &__list
        font-family 'OpenSans'
        font-size 128px
        color rgba(255,255,255,0.1)
        line-height 30px
        font-weight bold
        display flex
        align-items center

    &__description
        font-family 'OpenSans'
        font-size 13px
        color #ffffff
        line-height 24px
        margin-left -57px

    &__link
        transform translate(0,50%)
        bottom 0
