// Normalize Styles
@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/owl.carousel/dist/assets/owl.carousel.css';
@import '../../node_modules/owl.carousel/dist/assets/owl.theme.default.css';

// Import Modules
@import './grid/flexbox-grid';
@import 'modules/button';
@import 'modules/input';
@import 'modules/heading';
@import 'modules/form';
@import 'modules/step';
@import 'modules/activities-cart';
@import 'modules/slider';
@import 'modules/choice-cart';
@import 'modules/project-cart';
@import 'modules/work-cart';
@import 'modules/development-cart';
@import 'modules/news-cart';
@import 'modules/order-cart';
@import 'modules/price-cart';
@import 'modules/result-cart';
@import 'modules/about-info-cart';
@import 'modules/contact-block';

// Box sizing partial styles
// Apply a natural box layout model to all elements
*,
*:before,
*:after
    box-sizing border-box
    outline 1px dashed green

.ui-header
    padding 33px 0
    width 100%

    &__logo
        font-size 0

    &__menu
        padding-top 15px
        padding-bottom 15px

        @media(min-width: 768px)
            padding-top 0
            padding-bottom 0

.ui-image
    border 0
    display block

    &--responsive
        max-width 100%

.ui-header-main
    z-index 10
    position absolute

.ui-header-line
    border-bottom 1px solid #e7eaf3

.ui-menu
    display flex
    justify-content space-between

    &__link
        font-family 'Open Sans'
        font-size 14px
        color #8893bf
        text-align left
        line-height 24px
        text-decoration none

.ui-footer
    background url('../images/footer-bg.png') no-repeat 50% 50%
    background-size cover
    padding 200px 0 30px 0
    position relative
    z-index 10

    &__copyright
        border-top 1px solid #373365
        padding-top 30px
        margin-top 140px
        color #4c457b

.ui-footer-contact

    &__copyright
        border-top 1px solid #373365
        padding 40px 0
        color #4c457b
        background url('../images/copyright-bg.png') no-repeat 50% 50%
        background-size cover
        text-align center

.ui-footer-portfolio
    background url('../images/footer-portfolio-bg.png') no-repeat 50% 50%
    background-size cover
    padding-top 80px

    &__copyright
        border-top 1px solid #373365
        padding 40px 0
        color #4c457b

.ui-description
    padding 50px 0 90px
    color #cfcde1
    font-family 'Open Sans'
    font-size 14px
    line-height 24px

    @media(max-width: 768px)
        padding 0 0 20px

    &--taupegray
        color #8f8e94

    &--grey
        color #a5a3b2

    &--xs
        padding 15px 0

    &--md
        padding 35px 0

    span
        font-weight bold

.ui-first-screen
    background #edf2fe url('../images/first-screen-bg.png') no-repeat 50% 50%
    background-size cover
    padding-top 290px
    padding-bottom 354px
    position relative

    &__img
        transform translate(0, 50%)
        position absolute
        bottom 0

.ui-activities
    background #edf2fe
    padding 270px 0 0

    &__content
      position relative
      z-index 1

    &__bg
      content url('../images/activities-bg.png')
      background linear-gradient(to bottom, #edf2fe 0, #edf2fe 50%, #fff 50%, #fff 100%)
      position relative
      z-index 0
      max-width 100%
      margin-top -90px

.ui-confidence

    &__slider
        padding 50px 0

    &__line
        background url('../images/confidence/line.png') no-repeat 50% 50%
        background-size cover
        height 327px

.ui-confidence-slider-nav
    display flex
    align-items center

.ui-choice

    &__img
        width 100%

.ui-cooperation
    background url('../images/cooperation-bg.png') no-repeat 50% 50%
    background-size cover
    padding 250px 0

    &__option
        border 7px solid rgba(255, 255, 255, 0.1)
        margin 20px 0

.ui-option
    padding 50px 25px

    &__list
        font-family 'OpenSans'
        font-size 128px
        color rgba(255,255,255,0.1)
        line-height 30px
        font-weight bold
        display flex
        align-items center

    &__description
        font-family 'OpenSans'
        font-size 13px
        color #ffffff
        line-height 24px
        margin-left -57px

    &__link
        transform translate(0,50%)
        bottom 0

.ui-Our-new-work
    padding-bottom 100px

.ui-line
    height 1px
    background #e7eaf3
    border none
    margin 30px 0

.ui-page-content
    padding-top 60px
    position relative

    @media(min-width: 768px)
        padding-top 115px

.ui-contact
    border 9px solid #f2f2f2
    padding 25px 15px
    margin-bottom 40px

    @media(min-width: 544px)
        padding 50px 30px
        margin-bottom 80px

.ui-map
    height 480px

.ui-relations
    background url('../images/relations-bg.png') no-repeat 50% 50%
    background-size cover
    padding 120px 0 90px

.ui-news
    background #edf2fe
    padding 75px 0

.ui-about
    background url('../images/about-bg.png') no-repeat 50% 50%
    background-size cover
    padding 100px 0

    &__logo
        border-left 7px solid #ced3e2
        display flex
        align-items center
        padding-left 36px

    &__description
        margin-top 40px
        font-family 'OpenSans'
        font-size 14px
        color #6a6971
        text-align left
        line-height 29px
        font-weight bold
        border-left 7px solid #ced3e2
        padding-left 36px

        span
            font-weight normal

    &__info
        background #fff
        padding 20px 10px
        margin 20px 0
        box-shadow 0px 5px 31px 0px rgba(0, 0, 0, 0.05)

        @media(min-width: 768px)
            padding 40px 67px

.ui-price-info
    position relative
    z-index 9
    margin-bottom -25px

.ui-price-img
    position absolute
    bottom 0

.ui-price-info-block
    margin 150px 0 75px
    padding 25px 40px 25px 0
    border 4px solid #f7f8fc

.ui-filter
    padding-bottom 20px

.ui-desktop
    background #edf2fe url('../images/desktop-bg@2x.png') no-repeat 50% 50%
    background-size cover
    padding 150px 0 300px

.ui-order
    background #edf2fe
    padding-bottom 100px

.ui-make
    background url('../images/make-bg@2x.png') no-repeat 50% 50%
    background-size cover
    padding 200px 0

    &__option
        border 7px solid rgba(255, 255, 255, 0.1)
        margin 20px 0

.ui-time
    display flex
    justify-content center
    align-items center

    span
        padding-left 10px
        font-family 'OpenSans'
        font-size 14px
        color #84d030
        line-height 24px

.ui-development

    &__block
        padding 100px 10px 50px

.ui-prognostore
    background url('../images/prognostore-bg.png') no-repeat 50% 50%
    background-size cover
    padding 250px 0 400px

.ui-progect-logo

    &__img
        display flex
        align-items center
        justify-content center
        background #f2f3f3
        height 379px

    &__content
        @media(min-width: 412px)
            padding-top 30px

    &__icon
        display flex
        align-items center

    &__client
        font-family 'OpenSans'
        font-size 16px
        color #6a6971
        line-height 60px
        font-weight bold

        span
            font-weight lighter

    &__works
        font-family 'OpenSans'
        font-size 17px
        color #6a6971
        line-height 60px
        font-weight bold

.ui-progect-icon
    margin-right 10px

.ui-screenshot
    background url('../images/screenshot-bg.png') no-repeat 50% 50%
    background-size cover
    padding 350px 0 78px

    @media(max-width: 544px)
        padding-bottom 62px

.ui-link
    display flex
    justify-content center
    align-items center
    padding-bottom 50px
    cursor pointer

    span
        font-family 'OpenSans'
        font-size 14px
        color #6a6971
        line-height 31px
        padding-left 10px
        text-decoration underline

.ui-clock
    height 314px
    width 314px
    border 9px solid #f2f2f2
    border-radius 50%
    margin 0 auto
    display flex
    justify-content center
    align-items center
    flex-direction column
    font-family 'OpenSans'
    font-size 56px
    color #6a6971
    line-height 31px

    span
        font-size 14px

.ui-users
    background url('../images/portfolio/detail/users-bg.png') no-repeat 65% 50%
    font-family 'OpenSans'
    font-size 56px
    color #fff
    line-height 31px
    height 352px
    display flex
    flex-direction column
    align-items center
    justify-content center

    span
        font-size 14px
        line-height 20px
        padding 10px 0
